/**
 * Import dojo's CSS
 */
@import '../../dojo/resources/dojo.css';
@import '../../dijit/themes/claro/claro.css';
@import 'nib'

html,
body {
	height 100%
	margin 0
	padding 0
}

headerHeight = 70px
searchPaneHeight = 50px
blueColor = #00abfc
darkGrey = #322E2E
mobile = "(max-width: 480px)";

// CSS for widgets
.dijitButtonNode *{
	outline none
}

.dijitHidden {
	display none
}

// *************** CSS for Main Page *************** //
.page {
	width: 100%
	height: 100%
	
	.header-bar {
		background darkGrey
		height headerHeight
		absolute top 0 left 0 right 0
		color white
		text-align right
		font-size 20px

		.info {
			display inline-block
			cursor pointer
			padding 7px 0px 7px 10px
			
			.profile-icon {
				background black
				height 50px
				width 50px
				border-radius 30px
				display inline-block
				border 3px solid white
				vertical-align top
				
				.fa {
					padding 8px 13px 0px 0px 
					color orange
					font-size 30px
				}
			}
			
			.details {
				display inline-block
				padding 8px 0px 0px 10px

				.username {
					font-size 70%
					text-align left
				}
			}
			
			.arrow {
				vertical-align top
				font-size 18px
			    padding 8px 10px 8px 4px
			}
		}
	}
}

.claro .dijitPopup {
	box-shadow none
	
	.dijitMenu {
		background darkGrey
		border 0px

		.dijitMenuItem {
			font-size 125%
			color white
			border 0px
			
			td {
				border-width 1px 0px 0px 0px
				border-color #898989
				
				.note {
					font-size 50%
					display block
				}

				&.dijitMenuItemIconCell {
					padding 12px 20px
					font-size 150%
					.fa {
						padding-bottom 3px
					}
				}
				&.dijitMenuArrowCell {
					padding 2px 10px
				}
			}
		}

		.dijitMenuItemHover td,
		.dijitMenuItemSelected td {
			background-image none
			background-color darkGrey
			border-color #898989
			border-width 1px 0px 0px 0px
			color white
		}
	}
}

@media mobile {
	.page .header-bar {
		.info {
			white-space nowrap
			.details  {
				.realname, .username {
					text-overflow ellipsis
				    overflow hidden
				    max-width 200px
				}
			}
		}
	}
}

// *************** CSS for Search Pane *************** //
.search-pane {
	background: #F1EBDC;
	absolute top headerHeight left 0 right 0
	height 60px
	transition-duration: 0.2s
	transition-property: height
	
	.search-container {
		padding:8px 20px 0px 20px;
		text-align: center
	    max-width: 500px;
    	margin: auto;
    	overflow: hidden;
    	
		.search-box.dijitTextBox {
			width 100%
	    	box-sizing border-box
    		border-radius 7px
    		padding 7px
    		font-size 18px
    		position relative
    		padding-right 25px
    		overflow hidden
    		vertical-align top
    		border-color darkGrey
    		
    		.dijitInputContainer {
    			margin 0px 50px 0px 40px
    		}
    		
    		.fa {
    			position: absolute;
    			top: 0px;
			    bottom: 0px;
			    cursor: pointer;
			    font-size 24px
			    
			    &.fa-search {
			    	right: 0px;
				    padding: 6px 11px
		    		color: white;
				    background: blueColor;
			    }
			    &.fa-times {
				    right 40px
				    font-size 20px
				    padding 9px 14px
				    color #A9A9A9
				    &:hover {
				    	color darkGrey
				    }
    			}
    			
    			&.fa-sliders {
    				left: 0px;
		    		padding: 7px 10px;
		    		border-right 1px solid darkGrey
		    	}
		    	
		    	&.fa-sort {
					display none
		    	}
    		}
		}

		.filter-container {
			height 0px
			display: block 
			margin-top: 10px
		    text-align: center;
		    
		    .date-range-filter {
		    	display inline-block
		    	padding: 0px 10px 10px 10px;

			    .label {
			    	color #666666
			    	text-align left
			    }
			    
			    .dijitDateTextBox {
					display block
					margin 5px auto
				}
		    }

			&.show {
				height 150px
				margin-top 10px
			}
		    
		    &.show {
		    	height 100px
		    }
		}
	}
	
	.info-container {
        padding: 4px 40px 4px 0px
	    border-top: 1px solid darkGrey
    	background: darkGrey;
    	height: 38px;
    	
    	.num-results {
    		color white;
    		font-size 175%;
    		padding-left 25px;
		    padding-top 6px;
		    display inline-block;
    	}
	    
	    .dijitDropDownButton {
			border: none
			height: 35px
			float: right

		    .dijitButtonNode {
		    	background: #606060;
			    border: none
			    color: white
			    box-shadow: none
			    padding-top: 4px;
			    
			    .dijitButtonText {
			    	font-size 175%
			    }
			    
	    		.fa-sort-desc {
					margin-top -10px;
					padding-left 15px;
				}

				.fa-sort-asc {
					margin-bottom -10px;
					padding-left 15px;
				}
			    
			    .dijitDownArrowButton {
			    	/*arrow in firefox does not align with text properly*/
					white-space: normal;
				    .dijitArrowButtonInner {
				    	display: none
				    }
			    }
		    }
	    }
	}
	
	&.show-filters {
		height 190px
		.fa-sliders {
			color blueColor
		}
	}

	&.show-filters + .photo-pane {
		top 277px
	}
}

// once brower width hits a certain point,
// show smaller images
@media mobile {
	.search-pane {
		height 40px
		border-bottom 1px solid darkGrey
		.search-container {
			padding 0px
			.search-box.dijitTextBox {
				border-radius 0px
				border-bottom-width 2px
				
				.dijitInputContainer {
	    			margin 0px 50px 0px 85px
	    		}

	    		.fa {
	    			&.fa-sliders {
	    				left: 41px
			    		padding: 7px 11px;
			    		border-right 2px solid darkGrey
			    	}
			    	
			    	&.fa-sort{
						left: 0px;
			    		padding: 7px 13px;
			    		border-right 2px solid darkGrey
			    		display inherit
			    	}
		    	}
			}

			.filter-container {
				margin-top 0px
				.date-range-filter{
					text-align center
					overflow hidden
				}

				.dijitDateTextBox {
					display block
					margin 0 auto
				}
				
				&.show {
					height 150px
					margin-top 10px
				}
			}
		}

		.info-container {
		    display none
		}
		
		&.show-filters{
			height 200px
		}
		&.show-filters + .photo-pane{
			top 271px
		}
	}
}

// *************** CSS for Photo Upload Pane *************** //
.photo-pane {
	overflow: auto
	absolute top 177px left 0 right 0 bottom 0
	transition-duration: 0.2s
	transition-property: top

	.photos-container{
	    padding: 5px;
	    text-align center;

		img {
		    height: 150px;
	    	width: 150px;
	    	padding: 5px;
		}
	}
	
	.no-results-container {
		color #666
		text-align center

		.no-results-label {
			width: 100%;
    		display: block;
		    font-size: 20px;
    		padding: 0px 15px;
    		box-sizing: border-box;
		}
	}
	
	.loading-container {
		text-align: center
    	padding: 10px 0px 15px 0px;
    	
    	.spinner {
    		background-image url('../images/loading-animation.gif');
    		height 70px;
		    width 70px;
		    background-repeat no-repeat;
		    margin 0 auto;
    	}
    	
    	.text {
    		font-size: 300%;
    		padding: 5px 0px;
    	}
	}
}

// CSS for Photo box
.photo {
	display: inline-block
	margin: 1px 2px
	position: relative
	
	.photo-img {
	    width: 250px;
    	height: 250px;
    	background-size: cover;
    	background-repeat: no-repeat;
	    background-position: center;
	}
	
	.photo-hover {
		absolute right 0 left 0 bottom 0
		height: 0
		overflow: hidden;
		transition-property: height
		transition-duration: 0.2s;
		color: white
		background: rgba(0, 0, 0, 0.6)
		font-size: 14px
		
		.title {
			text-align: left
		    white-space: nowrap
		    text-overflow: ellipsis
		    overflow: hidden
	        padding: 5px 5px 10px 5px;
		}
		
		.date-posted, .date-taken {
			text-align: left
			font-size: 12px
			padding: 0px 5px
		}
		
		.additonal-info {
			text-align: right
		    padding: 17px 5px 5px 5px;
			
			.fa {
				padding-left: 10px;
			}
		}
	}
	&.show-details {
		.photo-hover {
		    height: 100px
			z-index: 1
		}
	}
}

// once brower width hits a certain point,
// show smaller images
@media mobile {
	.photo-pane {
		top 112px
	}
	.photo {
		display: block
		border: 1px solid darkGrey
		margin: 5px
		.photo-img {
		    width: 100px;
	    	height: 100px;
		}

		.photo-hover{
			display: block;
			left: 100px;
			top: 0px;
			height: auto
			background: white;
			color:black
			
			.title {
				font-weight bolder
				font-size 110%
				background #EDEDED
				padding-bottom 5px
			}
			
			.additonal-info {
				padding-top 25px
			}
		}
	}
}

// *************** Sort Menu Popup *************** //
.dijitPopup .dijitMenu.sort-menu {
	border 1px solid darkGrey
	
	.dijitMenuItem {
		height 25px

		td {
			&.dijitMenuItemIconCell,
			&.dijitMenuArrowCell {
				display none
			}
			&.dijitMenuItemLabel {
				padding 10px 15px
				
				.fa-sort-asc {
					padding 4px 10px
				    vertical-align top
				    font-size 20px
				    height 5px
				}
				.fa-sort-desc {
					padding 0px 10px
				    vertical-align top
				    font-size 20px
				    margin-top -5px
				}
			}
		}
		
		// this is the currently active menu item
		&.active {
			background-color blueColor;

			&.dijitMenuItemHover,
			&.dijitMenuItemActive,
			&.dijitMenuItemSelected {
				td {
					background-color blueColor;
				}
			}
		}
	}
}

// *************** Override dojo styles for date text boxes *************** //
.claro .dijitDateTextBox.dijitComboBox.dijitTextBox {
	border: 1px solid darkGrey
	border-radius: 2px;
	width: 150px

	.dijitButtonNode {
		background white		
	}
	.dijitInputField {
		padding 4px;
	}	
}

// *************** Override dojo styles for date calendar *************** //
.dijitCalendarPopup {
	border: 1px solid darkGrey;
	
	.dijitCalendar {
		border none
		
		.dijitDropDownButton {
			.dijitButtonNode {
				border-radius: 0px
			}


			&.dijitDropDownButtonHover,
			&.dijitDropDownButtonActive {
				.dijitCalendarCurrentMonthLabel {
					color: darkGrey;
				}
			}

			&.dijitDropDownButtonHover .dijitButtonNode {
				background-color #e5f2fe
			}
			
			&.dijitDropDownButtonActive .dijitButtonNode {
				background-color #7dbdfa
			}
		}

		.dijitCalendarMonthLabel,
		.dijitCalendarDayLabel {
			color white
		}
		
		.dijitCalendarDayLabelTemplate {
			padding: 6px 3px 3px 3px;
		}
		
		.dijitCalendarYearContainer {
			padding 3px
			.dijitCalendarSelectedYear {
				color white
			}
		}
	}
	
	.dijitCalendarContainer,
	.dijitCalendarHover,
	.dijitCalendar:hover,
	.dijitCalendarActive {
		background: darkGrey
		color: white
		border: none;
	}
	
	.dijitCalendarContainer {
		padding: 4px;
	}

	.dijitCalendarContainer,
	.dijitCalendarHover {
		background-color darkGrey
		color white
		border-radius:0px;
		.dijitCalendarBodyContainer {
			border: 1px solid blueColor;
		}
	}
}

.dijitCalendarMonthMenuPopup .dijitCalendarMonthMenu {

	.dijitCalendarMonthLabel {
		color: white;
		border-bottom: none;
		padding: 5px
		
		&.dijitCalendarMonthLabelHover,
		&.dijitCalendarMonthLabelActive {
			background: darkGrey
			border-color: white
		}
	}
	
	.dijitCalendarMonthLabel {
		color: white;
		border-bottom: none;
		padding: 5px
	}
}