<span data-dojo-type="dijit/layout/ContentPane">
	<!-- Container to display all the options -->
	<div class="content">
		<div class="photos-container" data-dojo-attach-point="photosContainer"></div>

		<div class="no-results-container dijitHidden" data-dojo-attach-point="noResultsContainer">
			<div class="fa fa-meh-o fa-4x"></div>
			<label class="no-results-label">Sorry, no results were found. Please try again.</label>
		</div>
		<div class="loading-container" data-dojo-attach-point="loadingContainer">
			<div class="spinner"></div>
			<label class="text">Loading...</label>
		</div>
	</div>
</span>