<span data-dojo-type="dijit/layout/ContentPane">
	<!-- Sorting options -->
	<div class="sorting-container">
		<span data-dojo-attach-point="dropButton" 
			  data-dojo-type="dijit/form/DropDownButton" 
			  data-dojo-props="label:'Relevance'">
			<span class="sort-menu" data-dojo-attach-point="menu" data-dojo-type="dijit/DropDownMenu"></span>
		</span>
	</div>

	<!-- Container to display all the options -->
	<div class="content">
		<div class="photos-container" data-dojo-attach-point="photosContainer"></div>

		<div class="no-results-container hidden" data-dojo-attach-point="noResultsContainer">
			<label class="no-results-label">Sorry, no results containing all your filters were found.</label>
		</div>
		<div class="load-button-container" data-dojo-attach-point="loadMoreContainer">
			<span data-dojo-attach-point="loadMore" 
				data-dojo-type="dijit/form/Button"
				data-dojo-attach-event="onClick:_loadClicked">Load More...</span>
		</div>
	</div>
</span>