<span data-dojo-type="dijit/layout/ContentPane">
	<!-- Sorting options -->
	<span></span>

	<!-- Container to display all the options -->
	<div class="photos-container" data-dojo-attach-point="photosContainer">
	</div>

	<div class="no-results-container hidden" data-dojo-attach-point="noResultsContainer">
		<label class="no-results-label">Sorry, no results containing all your filters were found.</label>
	</div>
	<div class="load-button-container">
		<span data-dojo-attach-point="loadMore" 
			data-dojo-type="dijit/form/Button"
			data-dojo-attach-event="onClick:_loadClicked">Load More</span>
	</div>
</span>